
/* GLOBAL STYLES */

/* Layout*/

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* Text Styles */

h1 {
    color: #FFFFFF;
    font-family: "Reddit Sans";
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}

h2 {
    color: #FFFFFF;
    font-family: "Reddit Sans";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px; /* 100% */ 
}

h3 {
    color: #FFFFFF;
    font-family: Caveat;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

p { 
    color: #FFFFFF;
    font-family: "Reddit Sans";
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.p-thin {
    color: #FFFFFF;
    text-align: center;
    font-family: "Reddit Sans";
    font-size: 28px;
    font-weight: 200;
    line-height: normal;
}

.p-middle {
    text-align: center;
}

.p-bold {
    color: #FFFFFF;
    text-align: center;
    font-family: "Reddit Sans";
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
}

.p-navitems {
    color: #FFFFFF;
    font-family: "Reddit Sans";
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}


/* HEADER */
 
header {
    background: #04387C;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

header nav ul {
      display: flex;
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
}

#logo {
    width: 75px;
    margin-left: 10px;
    margin-top: 10px;
}

/* BUTTONS */

.btn-header {
    background: #e9521c;
    padding: 10px 15px;
    font-family: "Reddit Sans";
    font-size: 20px;
    border-radius: 60px;
    color: #fff;
    font-weight: bold;
}

.btn-header:hover {
    outline: 2px solid white;  
}

.btn-donateoptions {
    background: #e9521c;
    padding: 3px 16px;
    border-radius: 60%;
    color: #fff;
    font-weight: bold;
}

/* HERO */

    .hero {
      display: flex;
      background: #002f6c;
      color: #fff;
      align-items: center;
      padding: 40px 20px;
    }
    .hero-content {
      flex: 1;
    }
    .hero img {
      flex: 1;
      max-width: 100%;
      height: auto;
    }

#ecologo {
    width: 150px;
}

#coelogo {
    width: 150px;
    background-color: #ffffff;
}

#goclogo {
    width: 150px;
    background-color: #ffffff;
}


/* VIDEO */
/* BLOG */

.blogbackground-color {
    background-color: #e9521c;
}


/* FOOTER */

.footer-mediaicons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.p-footerheader {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.p-footerlocation {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
}

.p-footerdays {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 700;
    line-height: normal;
}

.p-footerhours {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 500;
    line-height: normal;
}

.p-acknowledgement {
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 200;
    line-height: normal;


